@(folder: Folder)
@import helper._
@import models._

<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title" id="confirmModalLabel">Ordner löschen</h4>
		</div>
		<div class="modal-body">
			Möchtest du den Ordner <b>@folder.name</b> und den <b>gesamten</b> Inhalt wirklich löschen?
		</div>
		<div class="modal-footer">
            @form(routes.FolderController.deleteFolder(folder.group.id,folder.id)) {
            <button type="submit" class="btn btn-warning">Ja</button>
			<button type="reset" class="btn btn-default" data-dismiss="modal">Nein</button>
            }
		</div>
	</div>
</div>