@(path: List[Folder], folder: Folder, folderForm: Form[Folder])
@import helper._
@main("viewFolder") {


    <p>
        @for(p <- path) {
            <a href="@routes.FolderController.listFolder(p.group.id, p.id)">@p.name</a> /
        }
        <br><br>
        @for(f <- folder.childs) {
            <a href="@routes.FolderController.listFolder(f.group.id, f.id)">@f.toAlternateString()</a> <a class="button" href="@routes.FolderController.deleteFolder(f.group.id,f.id)">X</a> <br>
        }
        <br>
        Files: @folder.files.size() <br><br>
    </p>


    @form(routes.FolderController.createFolder(folder.group.id,folder.id)) {
        <div>
            @inputText(
                folderForm("name"),
                'class -> "form-input",
                '_label -> "Ordner Name"
            )
            <button type="submit">Ordner erstellen</button>
        </div>
    }
}