@(path: List[Folder], folder: Folder, folderForm: Form[Folder], mediaForm: Form[Media])
@import helper._
@import models.enums._
@main("viewFolder2") {


    <!-- Start infoModal -->
    <div id="infoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="false">
    @views.html.Group.snippets.infoModal(folder.group)
    </div>
    <!-- Ende infoModal -->

    <!-- Start confirmDeleteGroupModal -->
    <div id="confirmDeleteGroup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    @views.html.Group.snippets.deleteGroupModal(folder.group)
    </div>
    <!-- End confirmDeleteGroupModal -->

    <!-- Start confirmLeaveGroupModal -->
    <div id="confirmLeaveGroup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    @views.html.Group.snippets.leaveGroupModal(folder.group)
    </div>
    <!-- End confirmDeleteGroupModal -->

    @views.html.Group.snippets.navTabs(folder.group,folder)

    <div class="clear">
        <h2 class="hp-truncate">
            @if(folder.group.groupType.equals(GroupType.open)) { <span class="glyphicon glyphicon-globe"></span> }
            @if(folder.group.groupType.equals(GroupType.close)) { <span class="glyphicon glyphicon-lock"></span> }
            @if(folder.group.groupType.equals(GroupType.course)) { <span class="glyphicon glyphicon-briefcase"></span> }
            @folder.group.title
        </h2>

        @for(p <- path) {
            <a href="@routes.FolderController.listFolder(p.group.id, p.id)">@p.name</a> /
        }
        <br /><br />


        @if(!folder.childs.isEmpty || !folder.files.isEmpty) {
            @views.html.Folder.listAll(folder.childs,folder.files,models.Media.GROUP,folder.id,folder.group.id)
        } else {
            <br />
            <i>Es wurden noch kein Ordner angelegt oder eine Datei hochgeladen.</i>
            <br />
        }


        @form(routes.FolderController.createFolder(folder.group.id,folder.id)) {
            <h4>Neuen Ordner erstellen</h4>
            <div class="controls">
                <div class="input-group" rel="tooltip" data-original-title="Hier klicken, um Dateien auszuwählen!" data-placement="bottom" data-delay="500" data-container="body">
                    <input class="form-control" type="text"name="name" placeholder="Ordner Name" />
                    <span class="input-group-btn">
                        <button type="submit" class="btn">Erstellen</button>
                    </span>
                </div>
            </div>
        }
        <br />

        @if(Secured.uploadMedia(folder.group)) {
            @views.html.Media.upload(mediaForm,folder.group.id,folder.id)
        }
    </div>
}