@(mediaList:List[Media],target:String,id:Long) 
@import helper._
@import models._

<table class="table table-hover table-condensed">
	<thead>
       <tr>
		   <th style="width:23px">
               <input type="checkbox" rel="tooltip" data-original-title="alles aus-, abwählen" data-container="body" onclick="toggleMediaSelection(this)">
           </th>
           <th style="width:20px;">&nbsp;</th>
           <th>Dateiname</th>
           <th>Fortschritt</th>
           <th style="width:20%">Datum</th>
           <th style="width:15%">Dateigröße</th>
           <th style="width:35px"></th>
       </tr>
        <tr>
            <td><input name="selection" value="test" type="checkbox"></td>
            <td><span class="glyphicon glyphicon-picture"></span></td>
            <td><a class="colorboxImage" title="Eule" href="https://plus.f4.htw-berlin.de/assets/images/Plusi/eule_unsicher.png">HardTest.png</a></td>
            <td></td>
            <td>01.01.1111</td>
            <td>123</td>
            <td></td>
        </tr>
	</thead>
    @form(action = routes.MediaController.multiView(target,id)) {
    <tbody id="mediaList" class="hp-optionsTable">
		@for(m <- mediaList) {
		<tr>
			<td><input name="selection" value="@m.id" type="checkbox"></td>
            <td><span class="glyphicon @{MediaController.glyph(m.id)}"></span></td>
	        <td><a href="@{MediaController.setPdfViewer(m.id)}@routes.MediaController.view(m.id)" class="@{MediaController.addColorboxClass(m.id)}" rel="tooltip" data-delay="500" data-original-title="von @m.owner.name">@m.title</a></td>
            <td><p class="size" data-dz-size></p>
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                    <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                </div></td>
            <td>@m.createdAt.format("dd.MM.yyyy")</td>
	        <td>@{MediaController.bytesToString(m.size, false)}</td>
	        <td class="hp-optionsMenu">
                @views.html.Media.snippets.optionMenu(m)
	        </td>
	    </tr>
		}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5">
            	<input type="submit" class="btn btn-warning btn-sm" value="Auswahl herunterladen">
            </td>
        </tr>
    </tfoot>
    }
</table>
